<!-- Header -->
	<header>

		<!-- Nav -->
		<nav id="nav" class="navbar">
			<div class="container">

				<div class="navbar-header">
					<!-- Logo -->
					<div class="navbar-brand">
						<a href="/">
							<img class="logo" src="/images/logo.png" alt="logo">
						</a>
					</div>
					<!-- /Logo -->

					<!-- Collapse nav button -->
					<div class="nav-collapse">
						<span></span>
					</div>
					<!-- /Collapse nav button -->
				</div>

				<!--  Main navigation  -->
				<ul class="main-nav nav navbar-nav navbar-right">
					<li><a href="/#home">Home</a></li>
					<li><a href="/#about">About</a></li>
					<li><a href="/#portfolio">Events</a></li>
					<li><a href="/#service">Services</a></li>
					<li><a href="/#team">Team</a></li>
					<li><a href="/blog">Blog</a></li>
					<li><a href="/#contact">Contact</a></li>
				</ul>
				<!-- /Main navigation -->

			</div>
		</nav>
		<!-- /Nav -->

		<!-- header wrapper -->
		<div class="header-wrapper sm-padding bg-grey">
			<div class="container">
				<h2>About</h2>
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">Home</a></li>
					<li class="breadcrumb-item"><a href="/about/about3">The Young Yilida</a></li>
				</ul>
			</div>
		</div>
		<!-- /header wrapper -->

	</header>
	<!-- /Header -->

	<!-- Blog -->
	<div id="blog" class="section sm-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<!-- <div class="row"> -->

				<!-- Main -->
				<main id="main" class="sm-padding">
					<div class="blog">
						<div class="blog-content">
							<h3>The Young Yilida</h3>
							<p>Yilida was founded by Hong Jun and Yi Fan as a cultural exchange company in 2018. Yilida promotes arts, sports, and entertainment cultural events in Canada and worldwide. Yilida is a specialized event organizing company focusing on bring world class level arts and sports into Canadian local communities. Through more than 20 events per year, Yilida has been at the forefront in terms of the multicultural dynamic. Yilida is engaged in the entire value chain from marketing, research and production to across Canada. The company’s production are targeted at small business owners who need event planning specialty. Yilida employs its best event coordinator and sponsorship manager to serve its clients. Yilida is young and energetic, and it is prompt to share sparkle ideas and leave remarkable memories to all of you.</p>
						</div>

					</div>
				</main>
				<!-- /Main -->




			<!-- </div> -->
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Blog -->
