<!-- Header -->
	<header>

		<!-- Nav -->
		<nav id="nav" class="navbar">
			<div class="container">

				<div class="navbar-header">
					<!-- Logo -->
					<div class="navbar-brand">
						<a href="/">
							<img class="logo" src="/images/logo.png" alt="logo">
						</a>
					</div>
					<!-- /Logo -->

					<!-- Collapse nav button -->
					<div class="nav-collapse">
						<span></span>
					</div>
					<!-- /Collapse nav button -->
				</div>

				<!--  Main navigation  -->
				<ul class="main-nav nav navbar-nav navbar-right">
					<li><a href="/#home">Home</a></li>
					<li><a href="/#about">About</a></li>
					<li><a href="/#portfolio">Events</a></li>
					<li><a href="/#service">Services</a></li>
					<li><a href="/#pricing">Prices</a></li>
					<li><a href="/#team">Team</a></li>
					<li><a href="/blog">blog</a></li>
					<li><a href="/#contact">Contact</a></li>
				</ul>
				<!-- /Main navigation -->

			</div>
		</nav>
		<!-- /Nav -->

		<!-- header wrapper -->
		<div class="header-wrapper sm-padding bg-grey">
			<div class="container">
				<h2>About</h2>
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">Home</a></li>
					<li class="breadcrumb-item"><a href="/about/about2">The Young Yilida</a></li>
				</ul>
			</div>
		</div>
		<!-- /header wrapper -->

	</header>
	<!-- /Header -->

	<!-- Blog -->
	<div id="blog" class="section sm-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<!-- <div class="row"> -->

				<!-- Main -->
				<main id="main" class="sm-padding">
					<div class="blog">
						<div class="blog-content">
							<h3>Social Responsibility</h3>
							<p>Yilida operates in an economically, socially and environmentally responsible manner. As A Canadian firms, Yilida considers to take global opportunities; whereas, Yilida brings an increasing understanding to businesses partners that incorporation of responsible business practices into investments and operations not only benefits local economies and communities, but makes good business sense internationally.</p>
						</div>

					</div>
				</main>
				<!-- /Main -->




			<!-- </div> -->
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Blog -->
